@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    top: 0px;
  }
  15% {
    top: 2px;
  }
  30% {
    transform: rotate(1.5deg);
  }
  45% {
    top: 0px;
  }
  60% {
    transform: rotate(-1.5deg);
  }
  75% {
    top: 2px;
  }
  90% {
    transform: rotate(2.5deg);
  }
  100% {
    transform: rotate(0deg);
    top: 0px;
  }
}
.firstSlide .box {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(0.25px) translateZ(0);
  transform: perspective(0.25px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.firstSlide .box:hover {
  border-top: 3px solid #0b8289;
  animation: wiggle 0.96s;
  -webkit-animation: wiggle 0.96s;
}
.firstSlide .box:hover:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.firstSlide .box:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f15d53;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.firstSlide .box:focus {
  color: white;
}
.firstSlide .box:focus:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.firstSlide .box:active {
  color: white;
}
.firstSlide .box:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
/* Bounce To Bottom */
.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -ms-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

.bounceInLeft {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceInLeft;
}

/*bounceInLeft*/
.animatable {
  /* initially hide animatable objects */
  visibility: hidden;
  /* initially pause animatable objects their animations */
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    transform: translateX(20px);
  }
  80% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.bounceInRight {
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  60% {
    transform: translateX(-20px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@keyframes fadeBgColor {
  0% {
    background: none;
  }
  70% {
    background: none;
  }
  100% {
    background: #464646;
  }
}
.fadeBgColor {
  -webkit-animation-name: fadeBgColor;
  -moz-animation-name: fadeBgColor;
  -o-animation-name: fadeBgColor;
  animation-name: fadeBgColor;
}

@media (max-width: 1600px) {
  body .thirdSlide .box-contents .box {
    width: 20vw;
  }
}
@media (max-width: 1280px) {
  body .App-header {
    padding: 2vw 5vw;
  }
  body .App-header .App-logo {
    margin: 1vh 0;
    height: 5vmin;
  }
  body .App-header .nav {
    padding: 0.2rem;
  }

  body .box-contents {
    margin: 2vw 10vw;
  }

  body .firstSlide {
    background-size: initial;
  }
  body .firstSlide h1 {
    font-size: calc(14px + 1vmin);
    line-height: calc(16px + 2vmin);
    margin: 0 0 7vw;
    padding: 0 38vw 0 10vw;
  }
  body .firstSlide .box {
    width: 21vw;
    margin-bottom: 1rem;
  }
  body .firstSlide .box p {
    padding: 0.3rem;
    margin: 0;
  }
  body .firstSlide .box img {
    padding: 2rem 0rem 0rem;
  }

  body .secondSlide {
    padding: 3vw 0;
  }
  body .secondSlide .container {
    max-width: 90vw;
    height: 87%;
  }
  body .secondSlide .container .about-text {
    height: 100%;
  }
  body .secondSlide .container .about-text .left-side {
    justify-content: center;
  }
  body .secondSlide .container .right-side {
    width: 50%;
    margin-top: -6vw;
  }

  body .thirdSlide .box-contents {
    padding-top: 5vw;
  }
  body .thirdSlide .box-contents .box {
    width: 21.2vw;
  }

  body .back-to-top {
    margin: 2.5vw;
  }
}
@media (max-width: 960px) {
  body .App-header .App-logo {
    margin: 1vh 0;
    height: 3.5vmin;
  }
  body .App-header .nav {
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
  }
  body .App-header .nav .nav-link {
    padding: 0.1rem 0.4rem;
  }

  body .firstSlide {
    background-position: initial;
    background-size: 100vw;
    background-color: #000116;
  }
  body .firstSlide h1 {
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 0 28vw 0 10vw;
  }
  body .firstSlide .box img {
    width: 4vw;
    padding: 1rem 0 0.5rem 0;
  }
  body .firstSlide .box p {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  body .secondSlide {
    background-size: 135vw 105vw;
    background-position: -115px 0;
  }
  body .secondSlide .container .right-side {
    font-size: 0.8rem;
  }
  body .secondSlide .container .about-text .left-side {
    justify-content: end;
  }
  body .secondSlide .container .about-text .left-side p span {
    font-size: calc(12px + 1.4vmin);
  }

  body .thirdSlide {
    padding: 3vh 0;
  }
  body .thirdSlide .container {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  body .thirdSlide .container h2 {
    width: fit-content;
  }
  body .thirdSlide .container .box-contents .box {
    width: 23vw;
  }
  body .thirdSlide .container .box-contents .box img {
    width: 4vw;
    padding: 1.6rem 1px 0.5rem 0;
  }
  body .thirdSlide .container .box-contents .box p {
    padding: 0;
  }

  body .fifthSlide {
    justify-content: center;
    max-width: initial;
    padding: 1vh 4vw 6vh 4vw;
    margin: 0;
  }
  body .fifthSlide .contact-info .contact-map {
    margin-top: 10vh;
    width: 47%;
  }
  body .fifthSlide .contact-info .right-side {
    width: 47%;
    text-align: left;
  }
}
@media (max-width: 640px) {
  body .App-header .bm-burger-button {
    display: block;
  }
  body .App-header .App-logo {
    margin: 3vh 6vw;
    height: 7vmin;
  }
  body .App-header .nav {
    display: none;
  }

  body .firstSlide h1 {
    font-size: 0.8rem;
    line-height: 1.2rem;
    padding: 0 30vw 0 10vw;
  }
  body .firstSlide .box-contents {
    margin: 0;
    justify-content: space-evenly;
  }
  body .firstSlide .box-contents .box {
    width: 26vw;
  }

  body .secondSlide {
    background-size: 130vw 102vw;
    background-position: -20vw 7vw;
    background-image: url("../images/SecondSlideBackground.png"), linear-gradient(#020024, #090979);
  }
  body .secondSlide h2 {
    font-size: 1.5rem;
  }
  body .secondSlide .container {
    height: 0;
  }
  body .secondSlide .container.second-container {
    padding: 0;
    height: 100%;
  }
  body .secondSlide .container.second-container .about-text {
    flex-direction: column;
  }
  body .secondSlide .container.second-container .about-text .left-side {
    align-self: flex-end;
    width: 60%;
  }
  body .secondSlide .container.second-container .about-text .left-side p span {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  body .secondSlide .container.second-container .about-text .right-side {
    width: 100%;
    margin: 0;
    font-size: 0.7rem;
  }

  body .thirdSlide .container h2 {
    margin-left: 7vw;
  }
  body .thirdSlide .container .box-contents {
    justify-content: space-evenly;
  }
  body .thirdSlide .container .box-contents .box {
    width: 40vw;
  }
  body .thirdSlide .container .box-contents .box img {
    width: 6vw;
  }
  body .thirdSlide .container .box-contents .box p {
    font-size: 0.8rem;
  }

  body .fifthSlide {
    padding: 0 4vw;
    justify-content: space-evenly;
  }
  body .fifthSlide h2 {
    font-size: 1.5rem;
    padding-bottom: 1vh;
  }
  body .fifthSlide .contact-info {
    flex-direction: column;
    font-size: 0.8rem;
    height: 85%;
  }
  body .fifthSlide .contact-info .contact-map {
    margin-top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  body .fifthSlide .contact-info .contact-map .left-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
  }
  body .fifthSlide .contact-info .contact-map .left-side .adress p,
body .fifthSlide .contact-info .contact-map .left-side .phones p {
    text-align: left;
    margin: 0;
  }
  body .fifthSlide .contact-info .contact-map .left-side .phones h3 {
    display: none;
  }
  body .fifthSlide .contact-info .contact-map .map-component {
    height: 100%;
    width: 60%;
    margin-top: 0;
    min-height: 25vh;
  }
  body .fifthSlide .contact-info .contact-map .map-component p {
    display: none;
  }
  body .fifthSlide .contact-info .right-side {
    width: 100%;
  }
  body .fifthSlide .contact-info .right-side form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  body .fifthSlide .contact-info .right-side form p {
    width: 100%;
  }
  body .fifthSlide .contact-info .right-side form .form-group {
    width: 100%;
  }
  body .fifthSlide .contact-info .right-side form .form-group label {
    font-size: 0.6rem;
  }
  body .fifthSlide .contact-info .right-side form .form-group input, body .fifthSlide .contact-info .right-side form .form-group textarea {
    height: calc(1rem + 2px);
  }

  body .back-to-top {
    height: 14vw;
    width: 14vw;
  }
  body .back-to-top img {
    height: 12vw;
    width: 12vw;
  }
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 7vw;
  top: 36px;
  display: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: relative;
  height: 100%;
  width: 43vw !important;
  height: 102% !important;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 110vh;
  margin-top: -2vh;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

body {
  background-color: #030a2b !important;
  transition: 0.6s;
}
body h2 {
  color: #fff;
  border-bottom: 3px solid #0fb6b7;
  padding-bottom: 15px;
  float: left;
  text-align: left;
}
body span {
  color: #f15d53;
}
body a {
  color: #fff;
}
body a:active, body a:focus, body a:hover {
  color: #0fb6b7;
  transition: 0.6s;
  text-decoration: none;
}

.App {
  transition: 0.6s;
  background-color: #030a2b;
  text-align: center;
}
.App .back-to-top:focus {
  outline: none;
}
.App .back-to-top img {
  -webkit-animation: mover 0.8s infinite alternate;
  animation: mover 0.8s infinite alternate;
}
.App .back-to-top img:focus {
  outline: none;
}

.App-header {
  min-height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  font-size: calc(12px + 1vmin);
  color: white;
  padding: 0 10vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}
.App-header .bm-burger-button {
  display: none;
}
.App-header .App-logo {
  height: 6vmin;
  pointer-events: none;
  margin: 4vh 0;
}
.App-header .nav {
  padding: 1rem;
  position: relative;
}
.App-header .nav .main-menu {
  display: flex;
}
.App-header .nav .outsorce .nav-item {
  transition: 0.6s;
  border: 1px solid #53c1a9;
}
.App-header .nav .outsorce .nav-item:hover {
  background: #53c1a9;
}
.App-header .nav .outsorce .nav-item a:hover {
  color: #fff;
}
.App-header .nav .lang p {
  vertical-align: middle;
  padding: 0.5vw 0 0 1vw;
  cursor: pointer;
}

.content-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100vw;
  padding: 3vh 0;
}

.firstSlide {
  justify-content: flex-end;
  background: url("../images/slide1-background.png") no-repeat;
  background-position: center;
  background-size: 100vw;
  background-attachment: fixed;
}
.firstSlide h1 {
  color: #fff;
  text-align: left;
  font-size: calc(14px + 2vmin);
  line-height: calc(16px + 3vmin);
  margin: 0 0 3vw;
  padding: 0 38vw 0 15vw;
}

.secondSlide {
  background: url("../images/SecondSlideBackground.png") no-repeat;
  background-size: 100vw;
  padding: 1vw 0;
}
.secondSlide .container.second-container {
  height: 85%;
}
.secondSlide .container .about-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 100%;
}
.secondSlide .container .about-text .left-side {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.secondSlide .container .about-text .left-side p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.secondSlide .container .about-text .left-side p span {
  color: #0fb6b7;
  font-size: calc(12px + 2vmin);
}
.secondSlide p {
  color: #fff;
  text-align: left;
  margin-bottom: 3vw;
}
.secondSlide .right-side {
  width: 40%;
}

.thirdSlide {
  background: #030a2b;
  padding: 10vh 0;
}
.thirdSlide .box-contents {
  margin: 10vw 0;
}
.thirdSlide .box-contents .box {
  width: 15vw;
  margin: 0 1vw 3vw 1vw;
}

.fourthSlide {
  background: url("../images/FourthSlideBackground.png") no-repeat;
  background-position: bottom;
  background-size: 100vw;
  text-align: left;
  padding: 10vh 0;
}
.fourthSlide p {
  font-size: calc(10px + 2vmin);
  color: #fff;
  float: left;
  width: 100%;
  margin-top: 10vh;
}

.App-link {
  color: #61dafb;
}

.box-contents {
  margin: 4vw 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.box-contents .box {
  background-color: #0b8289;
  width: 11vw;
  border-top: 3px solid #f15d53;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.6s;
}
.box-contents .box img {
  padding: 3rem 3rem 1rem;
}
.box-contents .box p {
  color: #fff;
  padding: 1rem;
}

.fifthSlide {
  height: 100vh;
  width: 100vw;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10vh 0;
}
.fifthSlide .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fifthSlide .contact-info .contact-map {
  width: 40%;
}
.fifthSlide .contact-info .contact-map .left-side {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.fifthSlide .contact-info .contact-map .left-side .phones {
  text-align: right;
}
.fifthSlide .contact-info .contact-map .map-component {
  height: 55%;
  margin-top: 4vw;
}
.fifthSlide .contact-info .contact-map .map-component div:first-of-type {
  width: 100%;
  height: 100%;
  position: relative;
}
.fifthSlide .contact-info .contact-map .map-component p {
  text-align: left;
}
.fifthSlide .contact-info .right-side {
  width: 40%;
  text-align: left;
}
.fifthSlide .contact-info .right-side p {
  font-size: calc(10px + 2vmin);
  margin-bottom: 2vw;
}
.fifthSlide .contact-info .right-side input,
.fifthSlide .contact-info .right-side textarea {
  border: none;
  border-bottom: 2px solid #0a7985;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
  resize: none;
}
.fifthSlide .contact-info .right-side input:focus,
.fifthSlide .contact-info .right-side textarea:focus {
  box-shadow: none;
  border-color: #ffffff;
}
.fifthSlide .contact-info .right-side .btn-success {
  color: #fff;
  background-color: transparent;
  border-color: #53c1a9;
  border-radius: 0;
  transition: 0.6s;
  padding: 0.5vw 3vw;
}
.fifthSlide .contact-info .right-side .btn-success:hover {
  background-color: #53c1a9;
}

/*# sourceMappingURL=App.css.map */
